$primary: #6da3eb; // Socks
$secondary: #bfd4ef; // Muffin

// TODO: Add dark mode functionality!

@import "../../node_modules/bootstrap/scss/bootstrap";

html, body {
  overflow-x: hidden;
}

body {
  background-color: white;
}

.container {
  padding-bottom: 1rem;
}

.main-box {
  padding: 1rem 0;
  height: 100%;
}

.navbar-collapse {
  flex-grow: 0;
}

.avatar {
  width: 200px;
  background-color: $primary-bg-subtle;
  border-radius: 999px;
  border-color: $primary-bg-subtle;
  border-width: 3px;
}

.social-icon {
  width: 42px;
}

.project-icon {
  width: 82px;
}

.only-mobile {
  display: none;
}

.m-bg-primary-subtle {
  background-color: var(--bs-primary-bg-subtle) !important;
}

.m-bg-secondary-subtle {
  background-color: var(--bs-secondary-bg-subtle) !important;
}

.m-border-primary-subtle {
  border-color: var(--bs-primary-border-subtle) !important;
}

.m-border-secondary-subtle {
  border-color: var(--bs-secondary-border-subtle) !important;
}

.flag {
  width: 50px;
  box-sizing: unset;

  margin-top: 2px;
  margin-bottom: 2px;
}

.bg-primary-subtler {
  background-color: tint-color($primary, 90%)
}

.bg-secondary-subtler {
  background-color: tint-color($secondary, 90%)
}

.border-primary-subtler {
  border-color: tint-color($primary, 70%)
}

.border-secondary-subtler {
  border-color: tint-color($secondary, 70%)
}

@media (max-width: 768px) {
  .text-container {
    text-align: center;
  }
  .only-mobile {
    display: block;
  }
  .m-bg-primary-subtle {
    background-color: var(--bs-secondary-bg-subtle) !important;
  }
  .m-bg-secondary-subtle {
    background-color: var(--bs-primary-bg-subtle) !important;
  }
  .m-border-primary-subtle {
    border-color: var(--bs-secondary-border-subtle) !important;
  }
  .m-border-secondary-subtle {
    border-color: var(--bs-primary-border-subtle) !important;
  }
  .bg-primary-subtler {
    background-color: tint-color($secondary, 90%)
  }
  .bg-secondary-subtler {
    background-color: tint-color($primary, 90%)
  }
  .border-primary-subtler {
    border-color: tint-color($secondary, 70%)
  }
  .border-secondary-subtler {
    border-color: tint-color($primary, 70%)
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }

  .avatar {
    width: 200px;
    background-color: shade-color($primary, 80%) !important;
    border-radius: 999px;
    border-color: shade-color($primary, 80%) !important;
    border-width: 3px;
  }

  .solid-icon {
    filter: invert(88%) sepia(100%) saturate(49%) hue-rotate(49deg) brightness(111%) contrast(115%);
  }

  .text-container {
    color: white;
  }

  .bg-primary-subtle {
    background-color: shade-color($primary, 80%) !important;
  }
  
  .bg-secondary-subtle {
    background-color: shade-color($secondary, 80%) !important;
  }

  .bg-warning-subtle {
    background-color: shade-color($warning, 80%) !important;
  }
  
  .border-primary-subtle {
    border-color: shade-color($primary, 60%) !important;
  }
  
  .border-secondary-subtle {
    border-color: shade-color($secondary, 60%) !important;
  }

  .border-warning-subtle {
    background-color: shade-color($warning, 60%) !important;
  }

  .m-bg-primary-subtle {
    background-color: shade-color($primary, 80%) !important;
  }
  
  .m-bg-secondary-subtle {
    background-color: shade-color($secondary, 80%) !important;
  }
  
  .m-border-primary-subtle {
    border-color: shade-color($primary, 60%) !important;
  }
  
  .m-border-secondary-subtle {
    border-color: shade-color($secondary, 60%) !important;
  }

  .bg-primary-subtler {
    background-color: shade-color($primary, 90%);
  }
  
  .bg-secondary-subtler {
    background-color: shade-color($secondary, 90%);
  }
  
  .border-primary-subtler {
    border-color: shade-color($primary, 70%);
  }
  
  .border-secondary-subtler {
    border-color: shade-color($secondary, 70%);
  }

  .bg-body-tertiary {
    background-color: $gray-900 !important;
  }

  .navbar {
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
  }

  .text-body-secondary {
    color: tint-color($body-secondary-color, 50%) !important;
  }

  @media (max-width: 768px) {
    .text-container {
      text-align: center;
    }
    .only-mobile {
      display: block;
    }
    .m-bg-primary-subtle {
      background-color: shade-color($secondary, 80%) !important;
    }
    .m-bg-secondary-subtle {
      background-color: shade-color($primary, 80%) !important;
    }
    .m-border-primary-subtle {
      border-color: shade-color($secondary, 60%) !important;
    }
    .m-border-secondary-subtle {
      border-color: shade-color($primary, 60%) !important;
    }
    .bg-primary-subtler {
      background-color: shade-color($secondary, 90%);
    }
    .bg-secondary-subtler {
      background-color: shade-color($primary, 90%);
    }
    .border-primary-subtler {
      border-color: shade-color($secondary, 70%);
    }
    .border-secondary-subtler {
      border-color: shade-color($primary, 70%);
    }
  }
}

// Disable yesscript elements with CSS to later be enabled by JS
.yesscript {
  display: none;
}